<h1>Transaction info</h1>

<p>
  <strong>Amount:</strong>
  <%= @transaction.amount %>
</p>

<p>
  <strong>Timestamp:</strong>
  <%= @transaction.created_at %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @transaction.comment %>
</p>

<%= link_to 'Back', user_transactions_path %>
